@import '../../shared/styles/palette';

section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 70px;
    align-items: center;
    min-width: 480px;
    padding: 0 20px;
    background-color: $top-bar-background-color;

    .ubnisi_logo {
        cursor: pointer;
    }

    .search-bar {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: nowrap;
        height: 50px;
        width: 60%;

        .search {
            width: 500px;
            min-width: 50px;
            padding-left: 15px;
            border-radius: 30px 0 0 30px;
            border-right: 0;
            border-width: 1px;
            border-color: $main2;
            color: $main3;
        }

        .category {
            width: 150px;
            min-width: 130px;
            border-radius: 0 30px 30px 0;
            border-color: $main2;
            color: $main3;
            padding-left: 10px;
        }

        .search,
        .category {
            &:focus {
                outline: none;
            }
        }

        button {
            background-color: $main3;
            color: $white;
            height: 50px;
            width: 100px;
            padding: 0;
            border-radius: 30px;
            margin-left: 10px;
            &:hover{
                background-color: $light-main3;
            }
            mat-icon {
                font-size: 24px;
                width: 100%;
                margin: 14px auto;
            }
        }
    }

    .user-options {
        width: 100px;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;

        mat-icon {
            cursor: pointer;
            font-size: 34px;
            width: 33px;
            height: 31px;
            margin: 0px auto;
            &:hover{
                color: $light-main3;
            }
        }

        div {
            position: relative;

            .badge {
                position: absolute;
                top: -5px;
                right: -8px;
                background-color: $main2;
                color: $white;
                border-radius: 50%;
                width: 20px;
                height: 20px;
                font-size: 12px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
}

@media screen and (max-width:768px) {
    section {
        .ubnisi_logo {
            width: 60px;
        }

        .search-bar {
            button {
                width: 50px;
            }
        }
    }
}