<section>
    <img src="../../../assets/ubnisi_logo.png" alt="ubnisi_logo" [routerLink]="['/']" class="ubnisi_logo">
    <div class="search-bar" [formGroup]="searchForm">
        <input type="text" placeholder="Search Ubnisi" class="search" formControlName="search" name="search" (keyup.enter)="onSearch()">
        <select name="category" formControlName="category" class="category">
            <option value="">All Categories</option>
            <option [value]="category" *ngFor="let category of categories$ | async">{{category}}</option>
        </select>
        <button mat-icon-button (click)="onSearch()">
            <mat-icon>search</mat-icon>
        </button>
    </div>
    <div class="user-options">
        <div>
            <mat-icon aria-hidden="false" aria-label="cart icon" fontIcon="shopping_cart" [routerLink]="['/cart']"></mat-icon>
            <div class="badge" *ngIf="cartSize | async as cartSize" >{{ cartSize }}</div>
        </div>
        <mat-icon aria-hidden="false" aria-label="person icon" fontIcon="account_circle" (click)="onLogin()"></mat-icon>
    </div>
</section>