$white:#ffffff;
$top-bar-background-color:#8fc7f3;

$background-color:rgb(0 0 0 / 10%);
$sale-background:rgb(194, 0, 0);
$border-color:#00648c91;
$shadow-color:rgba(0, 0, 0, 0.2);

$img-border-color:#5fd4ff97;
$star-color:#ec4b00;
$star-border-color:#ffda44;

$category-bar-background-color: #232f3e;
$gold-text-color:#f0b90b;

$main1:#f7444e;
$main2:#659ea4;
$light-main2:#92d4db;
$main3:#002c3e;
$light-main3:#00648c91;

$accent:#bfcad6;
$primary1:#b3b1a0;
$primary2:#777c74;
$neutral1:#e5cdaf;
$neutral2:#edcdc2;

