$white:#ffffff;
$top-bar-background-color:#f7f8f3;
$sale-background:rgb(194, 0, 0);
$border-color:#d8dbdb;

$img-border-color:#5fd4ff97;
$star-color:#ec4b00;
$star-border-color:#ffda44;

$category-bar-background-color: #232f3e;
$gold-text-color:#f0b90b;

$main1:#f7444e;
$main2:#78bcc4;
$main3:#002c3e;

