<div class="container">
    <img src="../../../assets/ubnisi_logo.png" alt="ubnisi_logo" [routerLink]="['/']">
    <div>
        <form [formGroup]="form" (submit)="onSignIn()">
            <h3>Sign in</h3>
            <p *ngIf="invalidLogin | async" class="error-message">Something's Wrong</p>
            <input type="text" formControlName="email" name="email" autocomplete="email" placeholder="email"
                [class.is-invalid]="invalidLogin | async">
            <input type="password" formControlName="password" name="password" placeholder="password"
                [class.is-invalid]="invalidLogin | async">
            <br>
            <button mat-button class="sign-in" type="submit">Sign in</button>
            <mat-divider></mat-divider>
            <p>New To Ubnisi?</p>
        </form>
        <button mat-button (click)="onSignUp()" class="sign-up">Create your Ubnisi account</button>
    </div>

</div>